{{#if is-link}}
    <a
    {{#if id}}id="{{id}}" {{/if}}
    {{#if new-window}}target="_blank"
    {{/if}}{{#if href}}href="{{href}}"
    {{/if}}class="button is-rounded{{#if class}} {{class}}{{/if}}"
    >{{> @partial-block}}</a>
{{else}}
    <button {{#if id}}id="{{id}}" {{/if}}class="button is-rounded{{#if class}} {{class}}{{/if}}">
        {{> @partial-block}}
    </button>
{{/if}}